Repository witzbeck/alexlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, rm-old-covertura, pytest-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock --no-update
        language: system
        types: [toml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: check-json
        types: [json]
      - id: check-xml
        types: [xml]
      - id: check-toml
        types: [toml]
      - id: check-yaml
        types: [yaml]
      - id: check-docstring-first
      - id: check-added-large-files
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.6
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix, --config, pyproject.toml]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        args: [--config, pyproject.toml]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations

  - repo: local
    hooks:
      - id: rm-old-covertura
        name: Remove old covertura reports
        entry: rm -rf .coverage .coverage.xml htmlcov
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest-check
        name: pytest with coverage
        entry: poetry run pytest --cov=alexlib -n auto
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.2.0
    hooks:
      - id: sqlfluff-fix
        name: SQLFluff Fix
        types: [sql]
        entry: sqlfluff fix --force --config pyproject.toml
      - id: sqlfluff-lint
        name: SQLFluff Lint
        types: [sql]
        entry: sqlfluff lint --config pyproject.toml

update runner-set
  .github/workflows/self-hosted.yaml
Due: none

add pull_request trigger for main branch in self-hosted workflow
  .github/workflows/self-hosted.yaml
Due: none

Create controller-test.yml
  .github/workflows/controller-test.yml
Due: none

Update controller-test.yml
  .github/workflows/controller-test.yml
Due: none

update runner set in self-hosted workflow configuration
  .github/workflows/self-hosted.yaml
Due: none

test many runner configs
  .github/workflows/self-hosted.yaml
Due: none

Update pyproject.toml
  pyproject.toml
Due: poetry-lock

lock with uv update pyproject to use standard tables
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-lock

Update pytest entry in pre-commit config to use uv and exclude slow tests
  .pre-commit-config.yaml
Due: none

Refactor GitHub Actions workflows to use uv and consolidate Python setup; remove deprecated next.yaml
  .github/workflows/main.yaml
  .github/workflows/next.yaml
Due: none

Mark slow tests with @mark.slow and adjust pytest options in configuration
  pyproject.toml
  tests/test_alexlib.py
  tests/test_auth.py
  tests/test_core.py
  tests/test_files.py
Due: poetry-lock, rm-old-covertura, pytest-check

Update GitHub Actions workflow to use 'uv sync --locked' for dependency installation
  .github/workflows/main.yaml
Due: none

Feature/uv (#119)
  .github/workflows/main.yaml
  .github/workflows/next.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tests/test_alexlib.py
  tests/test_auth.py
  tests/test_core.py
  tests/test_files.py
  uv.lock
Due: poetry-lock, rm-old-covertura, pytest-check

Update fetch-depth in GitHub Actions workflow to 1
  .github/workflows/main.yaml
Due: none

Remove branch restrictions from pull request workflow and update Python version requirement to 3.9
  .github/workflows/main.yaml
  pyproject.toml
  uv.lock
Due: poetry-lock

Add make_subdir method to Directory class and corresponding test
  src/alexlib/files/__init__.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check

Refactor istrue function type hint to use Union for better clarity
  src/alexlib/core.py
Due: rm-old-covertura, pytest-check

Refactor ping function type hint to use Union for improved type clarity
  src/alexlib/core.py
Due: rm-old-covertura, pytest-check

Remove Python 3.9 from workflow matrix for GitHub Actions
  .github/workflows/main.yaml
Due: none

Update Python requirement to 3.10 and refactor type hints to use new syntax
  pyproject.toml
  src/alexlib/core.py
Due: poetry-lock, rm-old-covertura, pytest-check

Update pre-commit configuration to include 'lock' file type for uv-sync and uv-lock
  uv.lock
Due: none

Update scipy dependency to version 1.14.1 and increment package version to 1.2.1
  pyproject.toml
  uv.lock
Due: poetry-lock

Add make_subdir method to Directory class and corresponding test (#120)
  .github/workflows/main.yaml
  pyproject.toml
  src/alexlib/files/__init__.py
  tests/test_files.py
  uv.lock
Due: poetry-lock, rm-old-covertura, pytest-check

Add initial README with project overview, features, installation, usage examples, contributors, and license
  README.md
Due: none
