Repository witzbeck/alexlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, rm-old-covertura, pytest-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock --no-update
        language: system
        types: [toml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: check-json
        types: [json]
      - id: check-xml
        types: [xml]
      - id: check-toml
        types: [toml]
      - id: check-yaml
        types: [yaml]
      - id: check-docstring-first
      - id: check-added-large-files
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.6
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix, --config, pyproject.toml]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        args: [--config, pyproject.toml]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations

  - repo: local
    hooks:
      - id: rm-old-covertura
        name: Remove old covertura reports
        entry: rm -rf .coverage .coverage.xml htmlcov
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest-check
        name: pytest with coverage
        entry: poetry run pytest --cov=alexlib -n auto
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.2.0
    hooks:
      - id: sqlfluff-fix
        name: SQLFluff Fix
        types: [sql]
        entry: sqlfluff fix --force --config pyproject.toml
      - id: sqlfluff-lint
        name: SQLFluff Lint
        types: [sql]
        entry: sqlfluff lint --config pyproject.toml

Refactor pyproject.toml and test_auth_class.py
  .pre-commit-config.yaml
  pyproject.toml
  src/alexlib/__init__.py
  tests/conftest.py
  tests/test_alexlib.py
  tests/test_auth_server_class.py
Due: poetry-lock, rm-old-covertura, pytest-check

Refactor constants.py and add log format add recipe tests
  .github/workflows/main.yaml
  .github/workflows/next.yaml
  pyproject.toml
  src/alexlib/__main__.py
  src/alexlib/auth.py
  src/alexlib/constants.py
  src/alexlib/core.py
  src/alexlib/files/__init__.py
  src/alexlib/files/config.py
  src/alexlib/files/objects.py
  src/alexlib/files/recipe.py
  src/alexlib/files/utils.py
  src/alexlib/times.py
  tests/conftest.py
  tests/test_auth_authgenerator_class.py
  tests/test_can_round_datetime.py
  tests/test_core_astypes.py
  tests/test_core_read_files.py
  tests/test_datetime_methods.py
  tests/test_dotenv_init.py
  tests/test_files.py
  tests/test_files_directory_subclass.py
  tests/test_files_file_subclass.py
  tests/test_files_general_setup_for_testing.py
  tests/test_files_integration_testing.py
  tests/test_files_performance_testing_optional.py
  tests/test_files_recipes.py
  tests/test_files_systemobject_class.py
  tests/test_files_utility_functions.py
  tests/test_settings_file_init.py
  tests/test_times.py
Due: poetry-lock, rm-old-covertura, pytest-check

add pdf tests
  src/alexlib/files/objects.py
  src/alexlib/files/pdfs.py
  src/alexlib/files/recipe.py
  tests/test_files.py
  tests/test_files_pdfs.py
  tests/test_files_recipes.py
Due: rm-old-covertura, pytest-check

Refactor SystemObject.is_new_enough() to raise TypeError for non-timedelta input
  src/alexlib/files/objects.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check

aggregate auth tests
  pyproject.toml
  src/alexlib/files/objects.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_auth_authgenerator_class.py
  tests/test_auth_class.py
  tests/test_auth_cnxn_str_class.py
  tests/test_auth_general_setup_for_testing.py
  tests/test_auth_gets_auth.py
  tests/test_auth_secretstore_class.py
  tests/test_auth_server_class.py
  tests/test_auth_username_and_password_classes.py
  tests/test_files.py
Due: poetry-lock, rm-old-covertura, pytest-check

cut db objects down
  src/alexlib/auth.py
  src/alexlib/db/managers.py
  src/alexlib/db/objects.py
  src/alexlib/db/sql.py
  src/alexlib/db/utils.py
  src/alexlib/times.py
  tests/test_auth.py
  tests/test_core_astypes.py
  tests/test_db_object.py
  tests/test_db_object_column.py
  tests/test_db_object_name.py
  tests/test_db_object_schema.py
  tests/test_db_object_table.py
  tests/test_times.py
Due: rm-old-covertura, pytest-check

Refactor test_core_astypes.py and test_core_hashing.py add tests for maths
  poetry.lock
  pyproject.toml
  src/alexlib/db/objects.py
  src/alexlib/files/utils.py
  src/alexlib/maths/__init__.py
  src/scripts/attractors.py
  src/scripts/norm_mvsk.py
  tests/cases/attractors_test_cases.md
  tests/cases/maths_test_cases.md
  tests/test_core.py
  tests/test_core_astypes.py
  tests/test_core_bools.py
  tests/test_core_checks.py
  tests/test_core_class_funcs.py
  tests/test_core_clipboard.py
  tests/test_core_dict_funcs.py
  tests/test_core_dump_envs.py
  tests/test_core_envcast.py
  tests/test_core_hashing.py
  tests/test_db.py
  tests/test_db_object.py
  tests/test_fake_rand.py
  tests/test_maths.py
Due: poetry-lock, rm-old-covertura, pytest-check

condense primes tests
  src/alexlib/maths/__init__.py
  tests/test_maths.py
Due: rm-old-covertura, pytest-check

Refactor test_maths.py to add parameterized test for checking prime numbers divisibility
  tests/test_maths.py
Due: rm-old-covertura, pytest-check

Refactor test_maths.py to add parameterized test for checking prime numbers divisibility
  src/alexlib/maths/__init__.py
  tests/test_maths.py
Due: rm-old-covertura, pytest-check

simplify golden ratio calcs add tests
  src/alexlib/maths/__init__.py
  tests/test_maths.py
Due: rm-old-covertura, pytest-check

create timestamp objects
  src/alexlib/files/objects.py
  src/alexlib/files/utils.py
  src/alexlib/maths/__init__.py
  tests/test_df_filter_df.py
  tests/test_files.py
  tests/test_maths.py
Due: rm-old-covertura, pytest-check

fix parent file tests condense filter and distinct df tests
  pyproject.toml
  src/alexlib/files/objects.py
  src/alexlib/files/utils.py
  tests/conftest.py
  tests/test_df.py
  tests/test_df_filter_df.py
  tests/test_df_get_distinct_col_vals.py
  tests/test_files.py
Due: poetry-lock, rm-old-covertura, pytest-check

Refactor test_maths.py to add parameterized test for checking prime numbers divisibility
  pyproject.toml
  src/alexlib/auth.py
  src/alexlib/iters.py
  src/alexlib/times.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_db.py
  tests/test_df.py
  tests/test_df_add_col.py
  tests/test_df_add_timestamp_col.py
  tests/test_iters.py
  tests/test_times.py
Due: poetry-lock, rm-old-covertura, pytest-check

lock poetry rm lock workflow
  .github/workflows/main.yaml
  .github/workflows/poetry-lock-workflow.yaml
  poetry.lock
Due: none

change scope of fixtures to pop to avoid conflict
  tests/test_iters.py
Due: rm-old-covertura, pytest-check

add timer tests
  src/alexlib/iters.py
  tests/test_times.py
Due: rm-old-covertura, pytest-check

split tests add slow markers
  tests/conftest.py
  tests/test_auth.py
  tests/test_files.py
  tests/test_iters.py
Due: rm-old-covertura, pytest-check

Refactor file hash method and remove unused imports rm not useful df tests
  src/alexlib/df.py
  src/alexlib/files/objects.py
  tests/conftest.py
  tests/test_df.py
  tests/test_df_additional_considerations.py
  tests/test_df_df_to_db.py
  tests/test_df_drop_invariate_cols.py
  tests/test_df_get_row_as_list.py
  tests/test_df_get_rows_as_list.py
  tests/test_df_make_unique_dict.py
  tests/test_df_miscellaneous.py
  tests/test_df_rm_df_col_pattern.py
  tests/test_df_series_col.py
  tests/test_df_set_type_list.py
  tests/test_df_split_df.py
  tests/test_df_ts_col_to_dt.py
  tests/test_files.py
  tests/test_iters.py
Due: rm-old-covertura, pytest-check

condense files module move recipes to own package
  pyproject.toml
  src/alexlib/__main__.py
  src/alexlib/auth.py
  src/alexlib/files/__init__.py
  src/alexlib/files/config.py
  src/alexlib/files/objects.py
  src/alexlib/ml/llm_response.py
  src/recipes/__init__.py
  src/recipes/pdfs.py
  tests/cases/etl_test_cases.md
  tests/cases/eval_test_cases.md
  tests/cases/gpt_test_cases.md
  tests/cases/llm_response_test_cases.md
  tests/cases/symbolic_deductive_engine_test_cases.md
  tests/conftest.py
  tests/test_files.py
  tests/test_files_pdfs.py
  tests/test_files_recipes.py
Due: poetry-lock, rm-old-covertura, pytest-check

add duckdb @ version 1.1.0
  poetry.lock
  pyproject.toml
Due: poetry-lock

condense dfs
  src/alexlib/df.py
  tests/test_df.py
  tests/test_df_drop_invariate_cols.py
  tests/test_df_get_unique_col_vals.py
  tests/test_df_get_val_order.py
Due: rm-old-covertura, pytest-check

centralize drop invariate cols tests
  src/alexlib/df.py
  tests/test_df.py
  tests/test_df_drop_invariate_cols.py
Due: rm-old-covertura, pytest-check

condense tests
  tests/test_auth.py
  tests/test_df.py
  tests/test_df_col_pair_to_dict.py
  tests/test_df_col_vals_to_dict.py
  tests/test_files_pdfs.py
  tests/test_files_recipes.py
Due: rm-old-covertura, pytest-check

add type and size attrs
  src/alexlib/files/__init__.py
  src/alexlib/files/sizes.py
  src/alexlib/files/times.py
  src/alexlib/files/types.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check

poetry lock
  poetry.lock
Due: none

Refactor file tests and add clipboard availability check
  tests/test_files.py
Due: rm-old-covertura, pytest-check

Refactor file tests and fix parent path in test_system_obj_from_parent
  tests/test_files.py
Due: rm-old-covertura, pytest-check

Update dependencies in poetry.lock ``
  tests/test_files.py
Due: rm-old-covertura, pytest-check

Refactor iters.py and test_iters.py files
  src/alexlib/iters.py
  tests/test_alexlib.py
  tests/test_iters.py
Due: rm-old-covertura, pytest-check

Refactor test_times.py and add custom datetime attributes test
  tests/test_times.py
Due: rm-old-covertura, pytest-check

move fixtures to modules where appropriate fix iters poprand range move resources to constants
  resources/clipboard_commands_map.json
  resources/column_substitution_map.json
  resources/sqlalchemy_dialect_map.json
  src/alexlib/auth.py
  src/alexlib/constants.py
  src/alexlib/core.py
  src/alexlib/iters.py
  tests/conftest.py
  tests/test_alexlib.py
  tests/test_auth.py
  tests/test_core.py
  tests/test_files.py
  tests/test_iters.py
Due: rm-old-covertura, pytest-check

Refactor constants.py and test_files.py
  src/alexlib/constants.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check

fix file sizes tests
  src/alexlib/files/__init__.py
  src/alexlib/files/sizes.py
  src/alexlib/times.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check

fix search for rand parent file
  src/alexlib/files/utils.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check

Update main.yaml
  .github/workflows/main.yaml
Due: none

Update main.yaml to extend python version testing
  .github/workflows/main.yaml
Due: none

add skips for versions without toml support
  tests/test_alexlib.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check

make version skip le
  tests/test_alexlib.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check
