Repository witzbeck/alexlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, rm-old-covertura, pytest-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock --no-update
        language: system
        types: [toml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: check-json
        types: [json]
      - id: check-xml
        types: [xml]
      - id: check-toml
        types: [toml]
      - id: check-yaml
        types: [yaml]
      - id: check-docstring-first
      - id: check-added-large-files
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.6
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix, --config, pyproject.toml]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        args: [--config, pyproject.toml]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations

  - repo: local
    hooks:
      - id: rm-old-covertura
        name: Remove old covertura reports
        entry: rm -rf .coverage .coverage.xml htmlcov
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest-check
        name: pytest with coverage
        entry: poetry run pytest --cov=alexlib -n auto
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.2.0
    hooks:
      - id: sqlfluff-fix
        name: SQLFluff Fix
        types: [sql]
        entry: sqlfluff fix --force --config pyproject.toml
      - id: sqlfluff-lint
        name: SQLFluff Lint
        types: [sql]
        entry: sqlfluff lint --config pyproject.toml

Refactor version tests to skip unsupported Python versions
  tests/test_alexlib.py
Due: rm-old-covertura, pytest-check

Refactor version tests to skip unsupported Python versions
  tests/test_alexlib.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check

Refactor version tests to handle unsupported Python versions and toml support
  src/alexlib/__init__.py
  src/alexlib/files/utils.py
  tests/test_alexlib.py
Due: rm-old-covertura, pytest-check

add expected exceptions instead of skips for os errors with clips
  src/alexlib/__init__.py
  src/scripts/make_test_todos.py
  tests/test_alexlib.py
  tests/test_core.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check

fix file rename method
  src/alexlib/files/__init__.py
  tests/conftest.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check

Update main.yaml to extend python version testing (#80)
  .github/workflows/main.yaml
  src/alexlib/files/__init__.py
  src/alexlib/files/utils.py
  src/scripts/make_test_todos.py
  tests/conftest.py
  tests/test_alexlib.py
  tests/test_core.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check

make sure test cases are in cases
  data/recipe_files/objects.py
  data/recipe_files/objects_test_cases.md
  poetry.lock
  pyproject.toml
  src/alexlib/api/objects_test_cases.md
  src/alexlib/db/db_test_cases.md
  src/alexlib/db/etl_test_cases.md
  src/alexlib/db/managers_test_cases.md
  src/alexlib/db/objects_test_cases.md
  src/alexlib/db/sql_test_cases.md
  src/scripts/mk_test_todos.py
  tests/cases/ado_test_cases.md
  tests/cases/etl_test_cases.md
  tests/cases/objects_test_cases.md
Due: poetry-lock, rm-old-covertura, pytest-check

allow recipes with gitignore
  .gitignore
  data/recipe_files/white_bread.txt
Due: none

Update Python versions in GitHub Actions workflow
  .github/workflows/main.yaml
Due: none

Integrate pytest and coverage into testing workflow
  projects/integrate_pytest_coverage.md
Due: none

Ignore generated PNG files and remove outdated project documentation
  .gitignore
  projects/charts/v0.0.2.png
  projects/charts/v0.0.3.png
  src/alexlib/projects/how_to_build_a_symbolic_deductive_engine.md
  src/alexlib/projects/integrate_pytest_coverage.md
Due: none

poetry unavailable on 3.7
  .github/workflows/main.yaml
Due: none

Refactor istrue function to handle float inputs
  src/alexlib/core.py
  tests/cases/constants_test_cases.md
  tests/test_core.py
Due: rm-old-covertura, pytest-check

Refactor istrue function to raise TypeError for unsupported input types
  src/alexlib/core.py
Due: rm-old-covertura, pytest-check

Refactor dependency versions in poetry.lock and fix compatibility with Python 3.12
  src/alexlib/core.py
  tests/test_core.py
Due: rm-old-covertura, pytest-check

Refactor istrue function to handle float inputs and improve error handling
  src/alexlib/core.py
  tests/test_core.py
Due: rm-old-covertura, pytest-check

Refactor error handling in to_clipboard function and fix IsADirectoryError in copy_file_to_clipboard
  src/alexlib/core.py
  tests/test_core.py
Due: rm-old-covertura, pytest-check

Refactor file tests and add new hash verification tests
  tests/test_files.py
Due: rm-old-covertura, pytest-check

Refactor dump_envs function to handle different file types and improve error handling
  src/alexlib/files/utils.py
  tests/test_files.py
Due: rm-old-covertura, pytest-check

Integrate Changes From Dangling Feature Branch (#83)
  .gitignore
  data/recipe_files/white_bread.txt
  poetry.lock
  projects/charts/v0.0.2.png
  projects/charts/v0.0.3.png
  projects/integrate_pytest_coverage.md
  pyproject.toml
  src/alexlib/api/objects_test_cases.md
  src/alexlib/core.py
  src/alexlib/files/utils.py
  src/alexlib/ml/etl.py
  src/alexlib/ml/eval.py
  src/scripts/mk_test_todos.py
  tests/cases/ado_test_cases.md
  tests/cases/core_test_cases.md
  tests/cases/etl_test_cases.md
  tests/cases/objects_test_cases.md
  tests/test_core.py
  tests/test_fake_rand.py
  tests/test_files.py
Due: poetry-lock, rm-old-covertura, pytest-check

rm xml precommit hook
  .pre-commit-config.yaml
Due: none

Refactor imports in managers.py and sql.py
  src/alexlib/db/managers.py
  src/alexlib/db/sql.py
Due: rm-old-covertura, pytest-check

Refactor DataFrame creation in maths/__init__.py and add test for euclidean_distance
  src/alexlib/maths/__init__.py
  tests/test_maths.py
Due: rm-old-covertura, pytest-check

rm name as attr for filesystem objects
  src/alexlib/auth.py
  src/alexlib/files/__init__.py
Due: rm-old-covertura, pytest-check

Refactor get_holidays function to accept optional start and end parameters
  src/alexlib/times.py
Due: rm-old-covertura, pytest-check

Refactor Dockerfile and pyproject.toml
  Dockerfile
  pyproject.toml
Due: poetry-lock

fix space
  .github/workflows/main.yaml
Due: none

make combined domains set-based
  src/alexlib/maths/__init__.py
Due: rm-old-covertura, pytest-check

add python3.13
  .github/workflows/main.yaml
Due: none

add python3.13 (#101)
  .github/workflows/main.yaml
Due: none

decrement duckdb for compat with duckdb-server
  pyproject.toml
Due: poetry-lock

lock
  poetry.lock
Due: none

added runner deployment yaml
  .github/runners/runnerdeployment.yaml
Due: none

update action to point at self-hosted
  .github/runners/runnerdeployment.yaml
  .github/workflows/main.yaml
Due: none

add test for self-hosted
  .github/workflows/self-hosted.yaml
Due: none

instead replicas
  .github/runners/runnerdeployment.yaml
Due: none

update workflow to run only on self-hosted environment
  .github/workflows/main.yaml
Due: none

enhance runner deployment configuration with environment variables and resource limits
  .github/runners/runnerdeployment.yaml
Due: none

update namespace
  .github/runners/runnerdeployment.yaml
Due: none
